---
import type { Code } from "astro:components";
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    date: "Julio 2022 - Actualidad",
    title: "Full Stack Developer",
    company: "Icomm",
    description: `Colaboré estrechamente con el equipo de trabajo para desarrollar aplicaciones adaptadas a
      nuestros clientes con sus necesidades específicas.
      Mantuve y mejoré continuamente los aplicativos
      existentes, aportando nuevos módulos para su
      funcionalidad optimizada.
      Implementé con éxito nuevas tecnologías y
      avances para impulsar la mejora constante de
      los aplicativos desarrollados.`,
  },
  {
    date: "Junio 2021 - Julio 2022",
    title: "Analista de Desarrollo",
    description:
      "Brindé soporte integral para el aplicativo de las universidades bajo nuestra responsabilidad. Implementé mejoras continuas para garantizar el correcto funcionamiento y la eficiencia del aplicativo. Desarrollé nuevas funcionalidades, ampliando así la capacidad y la versatilidad del aplicativo",
    company: "CIADTI - Universidad de Pamplona",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItems {...experience} />
      </li>
    ))
  }
</ol>
